<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Rental Guns</title>
</head>
<body ng-controller="rentalController">
    <h2>This is a list of guns we have available to rent</h2>
    {{title}}


    @Scripts.Render("~/bundles/angular")
</body>

</html>