@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>There was an error in your form please fill out again and make sure to include all of the fields</h2>

<a href="~/Views/LaneRental/Index.cshtml">Go Back to the Reserve Lane Page</a>


